:root{
  --col1: #86d9ff;
  --col2: #86d9ff;
  --col3: #86d9ff;
  --angle: 30
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type=color] {
  width: 2rem;
  height: 2rem; 
  border-radius: 50%;
  overflow: hidden;
}

input[type=color]::-webkit-color-swatch {
border: none;
border-radius: 50%;
padding: 0;
}

input[type=color]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}

input[type=range]{
  width: 10rem;
}

.colorDis{
  width: 75vh;
  height: 75vh;
  border: #75ffaa solid 1px;
  border-radius: 9px;
  background-image: linear-gradient(70deg, #75ffaa, #5fcc89, #52b176);
  margin: 1rem;
  float: left;
  box-shadow: 1px 1px 6px #3f3f3f;
}

.top_nav{
  font-family: 'Roboto Mono';
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .1px;
  padding: 1rem;
  background-image: linear-gradient(70deg, #86d9ff, #76c1e4, #6baece);
}

.top_nav ul{
  list-style-type: none;
}


.colors{
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

.colors li{
  margin-left: 1rem;
  font-family: 'Roboto Mono';
  letter-spacing: 0.1px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: .5rem;
}


.colors li output{
  margin-left: .5rem;
  width: 2.6rem;
  font-family: 'Roboto Mono';
  transition: all .5s;
}

.colors li output:active{
  color: rgb(255, 255, 255);
}

.colors li span{
  margin: .3rem;
}

.colors li a{
  text-decoration: none;
  color: grey;
  font-weight: 900;
  border: grey solid 1px;
  border-radius: .3rem;
  padding: .3rem;
  transition: .5s all;
}

.colors li a:hover{
  color: #363636;
  border: #363636 solid 1px;
}


